# TYPE <number of functional units> <number of reserve stations>
# TYPE = ADD, MULT, LOAD or BRANCH
ADD 4 4
MULT 2 2
LOAD 2 2
BRANCH 1 1

# LX <size in bytes> <blocks per set>
# X = 1 or 2
L1 16384 2
L2 262144 16

# MEMORY <cycles for constant memory access>
MEMORY 4

# Comment for constant and uniform access memory
# Uncommont to use two-level-cached memory
USE CACHE

# Number of registers
REGISTERS 32

# Number of last memory addresses to track
TRACK 5

# Interval between clocks on play mode (in ms)
INTERVAL 10